---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  comments:
    min-spaces-from-content: 2
  indentation:
    spaces: 2
  document-start:
    present: true
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no', 'on', 'off']
  comments-indentation: disable
  braces:
    max-spaces-inside: 1